*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 { 
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}
p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
img{
    max-width:100%;
    height: auto;
    display: block;
}
#principal{
    background-color: #eee;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
}
#topo{
    display: flex;
    width: 100%;
    background-color: #002266;
    
}
#logo{
    flex: 25%;
}
#logo img{
    
}
#nometel{
    flex:75%;
    text-transform: uppercase;
    color:#eee;
    text-align: center;
    font-weight: bold;
    margin: auto;
    
}
#menu {
    background-color: #0247FE;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
#menu ul{
    list-style-type: none;
    padding:0;
}
#menu a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    font-weight: bold;
}
#menu a:hover{
    color: #0247FE;
    background: #fff;
}
#corposite{
padding: 3%;
border: solid 1px blue;
}
#corposite p{
 text-align: justify;
 text-indent: 25px;
 padding: 10px;
}
#rodape{
background-color: black;
color:#eee;
width: 100%;
}
#rodape p{
    text-align: center;
    letter-spacing: 3px;
}
/*MEDIA QUERIES*/
@media (min-width: 768px){
    #menu ul{
        display: flex;
        justify-content: space-around;
    }
}

