*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 { 
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}
p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}
img{
    max-width:100%;
    height: auto;
    display: block;
}
#principal{
    background-color: #eee;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
}
#topo{
    display: flex;
    width: 100%;
    background-color: #002266;
}
#nometel{
    width: 100%;
    color:#eee;
    margin: auto;
}
#nometel p{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
}
#menu {
    background-color: #0247FE;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.5vw;
    text-align: center;
}
#menu ul{
    list-style-type: none;
    padding:0;
}
#menu a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    font-weight: bold;
}
#menu a:hover{
    
    background: #999;
}
#corposite{
padding: 3%;
border: solid 1px blue;
}
#corposite p{
 text-align: justify;
 text-indent: 25px;
 padding: 5px;
 font-size: 4vw;
}
#corposite img{
    margin: 0 auto;
}
#rodape{
background-color: black;
color:#eee;
width: 100%;
padding: 5px;
}
#rodape p{
    text-align: center;
    letter-spacing: 3px;
    font-size: 3.5vw;
}
/*MEDIA QUERIES*/
@media (min-width: 568px){
    #menu ul{
        display: flex;
        justify-content: space-around;
    }
    #nometel p{
        font-size: 3vw;
    }
    #menu{
        font-size: 3vw;
    }
    #corposite p{
        font-size: 3vw;
    }
    #rodape p{
        text-align: center;
        letter-spacing: 3px;
        font-size: 3vw;
    }
}

@media (min-width: 768px){
    #menu ul{
        display: flex;
        justify-content: space-around;
    }
    #nometel p{
        font-size: 3vw;
    }
    #menu{
        font-size: 2vw;
    }
    #corposite p{
        font-size: 2vw;
    }
    #rodape p{
        text-align: center;
        letter-spacing: 3px;
        font-size: 2vw;
    }
}

@media (min-width: 1024px){
    #menu ul{
        display: flex;
        justify-content: space-around;
    }
    #nometel p{
        font-size: 2vw;
    }
    #menu{
        font-size: 1.5vw;
    }
    #corposite p{
        font-size: 1.5vw;
    }
    #rodape p{
        text-align: center;
        letter-spacing: 3px;
        font-size: 1vw;
    }
}



