*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 { 
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
    letter-spacing: 1px;
}

img{
    max-width:100%;
    height: auto;
    display: block;
    margin: auto;
    
}
#principal{
    background-color: #eee;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#topo{
    display: flex;
    width: 100%;
    background-color: red;
}

#menu {
    background-color: blue;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

#menu ul, #redessociais ul{
    list-style-type: none;
    padding:0;
}

#menu a, #redessociais {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
}

#menu a:hover{
    color: blue;
    background: #fff;
}

#showcase{
    
}

#corposite{
padding: 3%;
border: solid 1px blue;
}

#rodape{
background-color: black;
color:#eee;
width: 100%;
}
#rodape p{
    text-align: center;
    letter-spacing: 3px;
}


/*MEDIA QUERIES*/
@media (min-width: 768px){
    #menu ul{
        display: flex;
        justify-content: space-around;
    }

    #menu li{
        
    }
    
}

/*ttt*/