.cardwrap{
    padding:10px;
    display:flex;
    height:100px;
    width:400px;
    background-color: #ccc;
    box-shadow: 3px 3px 10px #2376ae;
    flex-direction:column;
    margin:1%;
    border-radius:5px;
   }
  .carda{
    height:50px;
    padding:10px;
  }
  .cardb{
    height:50px;
    padding:10px;
  }